.container.contact
    .row
        .col-md-8
            .panel.panel-default(id="ayudanos")
                .panel-heading
                    | Contáctanos
                .panel-body
                    p
                        | Contamos contigo para mejorar la forma como encontramos formas de calmar tus antojos.
                        |  Déjanos saber qué inquietudes, correcciones, o mejoras crees que podrían ayudar a no quedarte con tu antojo.
                    a.contact-media(href="mailto:antojado.bogota@gmail.com", title="e-mail")
                        i.fa.fa-envelope.fa-3x
                    a.contact-media(href="https://www.facebook.com/antojado.bogota/", title="Facebook", target="_blank")
                        i.fa.fa-facebook-official.fa-3x
