.enjoy {
  background-color: white;
  padding-bottom: 20px;
}
.resume-restaurant {
  margin-left: 0px;
  padding-left: 5px;
}
.resume-restaurant li {
  margin-left: 20px;
}
.enjoy .list-group-item:hover {
  background-color: inherit;
}
.enjoy .list-group-item {
  cursor: auto;
}
img.option-delivery {
  width: 50px;
  height: 30px;
}
.disclaimers {
  font-size: 95%;
  color: grey;
  margin-top: 15px;
}
.disclaimers li {
  font-style: italic;
}
