.container.help
    .row
        .col-md-2
            .list-group
                a.list-group-item(href="#/help#antojado") Antojado.com
                a.list-group-item(href="#/help#descubre") Descubre
                a.list-group-item(href="#/help#compara") Compara
                a.list-group-item(href="#/help#disfruta") Disfruta
                a.list-group-item(href="#/help#restaurantes") Restaurantes
                a.list-group-item(href="#/help#ayudanos") Ayúdanos
        .col-md-8
            .panel.panel-default(id="antojado")
                .panel-heading
                    | Antojado
                .panel-body
                    .faq-title
                        p ¿Por qué existe Antojado.com?
                    .faq-answer
                        ul
                            li
                                | Porque creemos que existen formas más fáciles, rápidas e inteligentes de encontrar opciones
                                |  de comida en tu ciudad, y distintas a las que ofrecen las plataformas actuales.
                            li
                                | Porque sabemos que cuando te da hambre no piensas en categorías, clasificaciones y rótulos
                                |  de comida o restaurantes, sino en sabores, ingredientes y técnicas para disfrutar.
                            li
                                | Porque ante la creciente cantidad de guías, referencias y directorios de restaurantes,
                                |  cada día sabemos menos en dónde poder encontrar lo que queremos. Por eso seremos, con tu ayuda,
                                |  la única herramienta con la que podrás encontrar cualquier opción en tu ciudad.
                            li
                                | Porque queremos que conozcas más opciones que pueden calmar tus antojos y no hagas lo que muchos hacemos:
                                |  pedir lo mismo en el mismo lugar.

            .panel.panel-default(id="descubre")
                .panel-heading
                    | Descubre
                .panel-body
                    h4 1. Encuentra
                    p
                        | Descubre es la forma de búsqueda inteligente, para encontrar opciones de comida
                        | en todos los sitios que tenemos registrados hasta el momento en la plataforma. La búsqueda inteligente
                        | consiste en que:
                    ul
                        li
                            | Describes lo que quisieras que tenga o sepa el plato que quisieras comer, tal cual se te ocurra:
                            .help-example
                                img.img-thumbnail(src="img/help-discover1.png")

                        li
                            | Indicas cual es el precio máximo que quisieras pagar por comer de lo que estás antojado:
                            .help-example
                                img(src="img/help-discover2.png")
                    br
                    h4 2. Conoce
                    p
                        | De acuerdo con los criterios de búsqueda, encontraremos las opciones más relevantes, cuya preparación estén más relacionadas
                        |  con los ingredientes y/o sabores que quieres. En la medida que se vayan realizando más búsquedas
                        |  por ti y los demás usuarios de la plataforma, se irán actualizando los mecanismos para establecer
                        |  la relevancia y podrán ser cada vez más acertadas. Por cada opción que exista encontraras:
                    .help-example
                        img(src="img/help-discover3.png")
                    ul
                        li
                            b Nombre:
                            |  nombre del plato dentro del menú del sitio.
                        li
                            b Precio:
                            |  cantidad en pesos colombianos que debes pagar en el sitio por la opción
                            small  (1).
                        li
                            b Descripción:
                            |  explicación de lo que contiene la opción.
                        li
                            b Menú:
                            |  opción que permite mostrar todas las opciones del sitio, sin importar lo que se haya descrito en la búsqueda
                        li
                            b Foto:
                            |  enlace que permite ver la foto de la opción, cuando en la plataforma hay alguna registrada
                        li
                            b Restaurante:
                            |  nombre del sitio que ofrece la opción. También es un enlace que permite filtrar los resultados
                            |  para que muestre solo los que ofrece el restaurante.
                        li
                            b Categoría(s):
                            |  clasificación que se le da a la opción dentro del menú del sitio que lo ofrece. También es un enlace que
                            |  permite filtrar los resultados para que muestre solo los de dicha categoría.
                    br
                    h4 3. Pre-selecciona
                    p
                        | Elige las opciones que más te interesen para conocer luego cómo puedes disfrutarlas. Todas las opciones que pre-selecciones
                        |  se mostrarán en la sección "Compara".
                    .help-example
                        img(src="img/help-discover4.png")

                .panel-footer
                    ul.list-unstyled.disclaimers
                        li (1) Los precios de las opciones son tentativos y pueden variar de acuerdo a cambios hechos por los establecimientos, que no hayan sido actualizados en Antojado.com.

            .panel.panel-default(id="compara")
                .panel-heading
                    | Compara
                .panel-body
                    p
                        | Da una última mirada a las opciones que pre-seleccionaste para saber cuales quisieras disfrutar, y selecciona
                        |  aquellas para las que quisieras saber cómo disfrutar.
                    .help-example
                        img(src="img/help-discover5.png")

            .panel.panel-default(id="disfruta")
                .panel-heading
                    | Disfruta
                .panel-body
                    p
                        | Conoce para cada una de las opciones seleccionadas, qué servicios de domicilios podrían llevar a donde estés **
                    .help-example
                        img(src="img/help-discover6.png")
                .panel-footer
                    ul.list-unstyled.disclaimers
                        li * Debes validar con cada servicio de domicilio si tienen cobertura en la zona donde estás.
                        li ** El proceso y las herramientas para solicitar finalmente un pedido depende de cada proveedor.

            .panel.panel-default(id="restaurantes")
                .panel-heading
                    | Restaurantes
                .panel-body
                    p
                        | Si tienes un restaurante que no está listado, contáctanos y envíanos la direción web de tu menú y nos
                        |  nos comunicaremos contigo.
                    p
                        | Si representas un restaurente de los que están listados y tienes alguna duda o deseas corregir algún dato,
                        |  contáctanos y déjanos saber cómo podemos ayudarte.
                    a.contact-media(href="mailto:info@antojado.com", title="e-mail")
                        i.fa.fa-envelope.fa-3x
                    a.contact-media(href="https://www.facebook.com/antojado.bogota/", title="Facebook", target="_blank")
                        i.fa.fa-facebook-official.fa-3x

            .panel.panel-default(id="ayudanos")
                    .panel-heading
                        | Ayúdanos
                    .panel-body
                        p
                            | Contamos contigo para mejorar la forma como encontramos formas de calmar tus antojos.
                            |  Déjanos saber qué inquietudes, correcciones, o mejoras crees que podrían ayudar a no quedarte con tu antojo.
                        a.contact-media(href="mailto:antojado.bogota@gmail.com", title="e-mail")
                            i.fa.fa-envelope.fa-3x
                        a.contact-media(href="https://www.facebook.com/antojado.bogota/", title="Facebook", target="_blank")
                            i.fa.fa-facebook-official.fa-3x
