<!DOCTYPE html>
<html ng-app="goro-app" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <meta name="viewport" content="width=device-width">

    <!-- compiled CSS -->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css"/>

    <!-- JavaScript -->
    <script type="text/javascript" src="vendor/angular/angular.js"></script>
    <script type="text/javascript" src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="vendor/angular-ui-utils/modules/route/route.js"></script>
    <script type="text/javascript" src="vendor/placeholders/angular-placeholders-0.0.1-SNAPSHOT.min.js"></script>

    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- Your App JavaScript -->
    <script type="text/javascript" src="app/home/home.js"></script>
    <script type="text/javascript" src="app/search/search.js"></script>
    <script type="text/javascript" src="app/choose/choose.js"></script>
    <script type="text/javascript" src="app/enjoy/enjoy.js"></script>
    <script type="text/javascript" src="app/help/help.js"></script>
    <script type="text/javascript" src="app/contact/contact.js"></script>
    <script type="text/javascript" src="app/filters/filters.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/services/searchSvc.js"></script>
    <script type="text/javascript" src="app/services/userSvc.js"></script>
    <script type="text/javascript" src="app/services/sessionSvc.js"></script>

  </head>
  <body>
      <%- partial("app/layout/_header") %>
      <div ui-view="main"></div>
      <%- partial("app/layout/_footer") %>
  </body>
</html>
